spring:
  application:
    name: cart-service
  datasource:
    url: jdbc:mysql://localhost:3306/fleximartx_cart
    username: root
    password: root@123#
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
server:
  port: 8082
product:
  service:
    url: http://localhost:8081/products/